*{
  padding: 0;
  margin: 0;
}
div{
  background-color: blueviolet;
  color:aqua;
  padding:10px;
  margin: 5px;
  width: 500px;
  height: 300px;
  overflow: hidden;
  overflow: scroll;
  overflow: auto;

  
}
p{
  width: 400px;
}