   /*fonts family*/

h1{
  font-family:serif;
  font-family: sans-serif;
  font-family:fantasy;
  font-family: monospace;
  font-family: cursive;
}
/*serif fonts*/
h2{
  font-family: 'Times New Roman',serif;  
}
/*sans-serif*/
h2{
 font-family: Arial,sans-serif;
}
/*monospace font*/
h2{
 font-family: 'Courier New', monospace;
}
/*cursive fonts*/
h2{
  font-family: 'Brush Script MT',cursive;
}
/*fantasy font*/
h2{
 font-family: 'papyrus',fantasy;
}

h3{
   font-family: "Roboto", sans-serif;
}
h4{
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-style:italic;
  font-weight: 568;
}
p{
  font-family: 'Poppins',sans-serif;
  font-size: 10vw; /* responsive 10vw=10%*/
  font-weight: 500;
  font-variant: small-caps;
}

